version: 2.1

orbs:
  terraform: circleci/terraform@0.2.1

jobs:
  deploy_infrastructure:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - checkout
      - terraform/init:
          path: D:\main.tf
      - terraform/apply:
          path: D:\main.tf
          

  manual_approval:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Manual Approval
          command: echo "This job requires manual approval"

workflows:
  version: 2
  deployment_workflow:
    jobs:
      - deploy_infrastructure:
          filters:
            branches:
              only:
                - main  # Adjust the branch as needed
      - manual_approval:
          type: approval
          requires:
            - deploy_infrastructure
